@model List<BookStore.Models.Order>

@if(@Model == null)
{
    <h2>No history available!</h2>
}

else
{
    <ul style="list-style: none">
        @foreach(var item in @Model)
        {
            if(item.Cart == null)
            {
                foreach(var cart in item.Order.Cart)
                {        
                    <li><td>@cart.Book.Name</td> <td>@cart.Quantity</td> <td>$@cart.Book.Price</td></li>    
                }   
            }
        }
    </ul>
}