@model BookStore.Models.ViewModels.BookListViewModel

@{
    var book = @Model;
}
<h1>@book.Name added to cart!</h1>
<p>
    @Html.ActionLink("Continue Shopping", "Index", "Home", null, new { @class = "btn btn-info" }) 
    @Html.ActionLink("Go to Cart", "CartView", "Cart", null , new { @class = "btn btn-info" }) 
</p>
