<h2>Frequently Asked Questions</h2>

<h3>How Do I Place an Order?</h3>
<p>
    It's easy! Just select a book and add it to your cart.
    Then click the cart icon to view the contents. Click on
    the "Proceed to Checkout" button and and input all the 
    required information. When you confirm the information
    you can review the order one last time. Make sure that
    you input the correct information! If everything is
    to your satisfaction, click confirm and the order is placed.
    Seriously, how can you not figure this out?
</p>

<h3>Is This Legal?</h3>
<p>
    No further questions, please.
</p>