@model List<BookStore.Models.ViewModels.BookListViewModel>

@{
    var bookList = @Model;
}
<div>
    <h1> Top Ten Highest Rated Books </h1>
     <table style="width:100%">
        <tr>
            <th>Name</th>
            <th>Author</th> 
            <th>Category</th>
            <th>Rating</th>
            <th>Price</th>
        </tr>
        @foreach(var book in bookList)
        {  
            <tr>
                <td>@Html.ActionLink(book.Name, "Details", "Book", new { id = book.ID })</td> 
                <td>@Html.ActionLink(book.Author, "Details", "Author", new { id = book.AuthorID })</td> 
                <td>@book.Category</td> <td>@book.Rating</td> <td>$@book.Price</td>
            </tr>                
        }
    </table>
</div>