<h2>Our Employees</h2>

<div>
    <ul style="list-style: none;">
       <li>
           <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Man_silhouette.svg/938px-Man_silhouette.svg.png" style="height:7%;width:7%;"/>
           <p>Name: John Johnsson
              Email: john@bookcave.com
           </p>
        </li>

        <li>
           <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Man_silhouette.svg/938px-Man_silhouette.svg.png" style="height:7%;width:7%;"/>
           <p>Name: Jack Johnsson
              Email: jack@bookcave.com
           </p>
        </li>

        <li>
           <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Man_silhouette.svg/938px-Man_silhouette.svg.png" style="height:7%;width:7%;"/>
           <p>Name: John Jackson
              Email: john2@bookcave.com
           </p>
        </li>

        <li>
           <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/Man_silhouette.svg/938px-Man_silhouette.svg.png" style="height:7%;width:7%;"/>
           <p>Name: Jack Jackson
              Email: one_true_jack@bookcave.com
           </p>
        </li>
    </ul>
</div>